.gallery-section {
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    max-width: fit-content;
    gap: 5px;
}

.gallery-section img {
   height: 250px;
}