.cards-container {
  max-width: 1260px;
  margin: 30px auto;
  display: grid;
  grid-auto-flow: column;
  gap: 40px;
  justify-items: center;
}

@media (max-width: 930px) {
  .cards-container {
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    padding: 0 10px;
  }
}
