.first-form {
    /* height: 250px; */
    width: 600px;
    display: grid;
    grid-template-columns: 1fr;
    background-color: #dee2e6;
    padding: 15px;
    gap: 5px;
    border-radius: 30px;
    margin: 0 auto;
    margin-top: 30px;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translateX(-50%);
  }

  .error-text {
    color: #d6336c;
  }