.item {
    display: grid;
    align-items: center;
    justify-content: center;
    user-select: none;
    margin: 0 auto;
    grid-template-columns: 350px 1fr;
}

.container-for-container-for-slider {
    background-color: #e9ecef;
    height: 450px;
}

.container-for-sliders-main-page {
    max-width: 1260px;
    margin: 0 auto;
}

.feedbackImg {
    height: 350px;
    width: 350px;
    border-radius: 30px 0 0 30px;
}

.feedback-text-div {
    display: grid;
    grid-template-rows: 100px 250px;
    align-items: center;
    justify-content: center;
}

.feedback-name {
    font-weight: 900;
    font-size: 40px;
}

.feedback-name p {
    padding-left: 40px;
}

.feedback-article {
    font-size: 25px;
    padding: 20px;
}