.main-header {
  margin-top: 10px;
  height: 100px;
  display: flex;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  padding: 0 5%;
}

.incubator-img {
  height: 85px;
  width: 120px;
  border-radius: 30px;
}

.main-header span {
  display: flex;
  align-items: center;
}

.main-header-span h1 {
  padding-right: 15px;
  color: coral;
}

.main-header-span {
  background-color: #3f3f3f;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 30px;
}
